DEBUG=true

TOOLCHAIN_BIN_DIR="/home/{USERNAME}/swift-windows-toolchain/usr/bin"

VULKAN_SDK="/mnt/c/VulkanSDK"

MSVC="/mnt/c/Users/{USERNAME}/Documents/InterdimensionalLlama/Other/MSVC"
WINDOWS_KIT="/mnt/c/Users/{USERNAME}/Documents/InterdimensionalLlama/Other/Windows Kits/10"